.card{
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    border-radius: 15px;
}
.card_body{
    padding: 10px 20px;
}
.card-title{
  font-weight: bold; 
  font-size: 2rem;
}
.card-text{
    text-align: justify;
    padding: 10px 0;
}
