*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}
header, footer{
    height: 100px;
    background-color: lightgray;
    line-height: 100px;
    font-size: 2rem;
}

.row{
    display: flex;
    width: 1000px;
    justify-content: center;
    margin: 20px auto;
}

.col{

    padding: 1rem;
}
